    <footer>
      <div class="row text-center">
        <h3>
          Enjoy the Riveted Life!
        </h3>
        
      </div>
      <div class="row">
        <p>
          This website is not affiliated with or endorsed by the Airstream, Inc. or any of its affiliates. Airstream is a registered trademark of Airstream Inc. All rights reserved.
        </p>
      </div>
      <div class="container text-center">
        <div class="row justify-content-md-center">
          <div class="col-md-auto">
            <a href="/">Patio</a>
          </div>
          <div class="col-md-auto">
            <a href="/dashboard"">My Posts</a>
          </div>
          <div class="col-md-auto">
            <a href="/terms">Terms of Service</a>
          </div>
          <div class="col-md-auto">
            <a href="/privacy">Privacy Policy</a>
          </div>
          <div class="col-md-auto">
            <a href="mailto:k_felder@me.com">Contact Us</a>
          </div>          
        </div>
      </div>
      
    </footer>