<section>
  <div>
    <h1 id="privacy-policy">Privacy Policy</h1>
    <p><strong>Privacy Policy</strong></p>
    <p>Technical Service & Support, a Florida limited liability company (TS&S) operates an online network of websites and desktop and mobile software applications (collectively referred to herein as the &quot;Application&quot;).</p>
    <p>TS&S believes it is important to protect and respect the privacy of our members, users, and visitors. This Privacy Policy covers our treatment of personally identifiable information collected by TS&S through our Application.</p>
    <p>We urge you to read this Privacy Policy so that you will understand both our commitment to you and your privacy, and how you can participate in that commitment.</p>
    <p>We will not sell, share, or rent this information to others in ways other than those outlined in this Privacy Policy. TS&S collects information from our users at several different points on the Application. Personal Information (defined below) provided by users ("you") will be used by TS&S to improve the Application and provide a more personalized experience for the user and/or to measure and improve our services, but information that identifies a specific individual will not be disclosed to third parties without the user's permission unless necessary to provide services which the user has requested.</p>
    <p>This online privacy policy applies only to information collected through our application and not to information collected offline.</p>
    <p>TS&S is based in Florida and is only required to comply with any applicable U.S. data and privacy laws. Do not use the Application if any provision of this Privacy Policy does not comply with any laws of your jurisdiction.</p>
    <p>Any capitalized terms not defined herein shall have the meaning ascribed to them in the <a href="/terms">Terms of Service</a> which are incorporated herein by reference ("Terms"). In the event of a conflict between this Privacy Policy and the Terms, the provisions of this Privacy Policy will prevail.</p>
    <p style="font-weight: bold;">What kinds of personal information about you do we process?</p>
    <p>In general, you can browse our Application without telling us who you are or revealing any personal information about yourself. We will ask you when we need information that personally identifies you or allows us to contact you ("Personal Information"). Generally, this information is requested when you become a member of one of our Applications or contact us for information.</p>
    <p>Additional details about the type of information we may collect from you are described in the following section.</p>
    <p style="font-weight: bold;">What is the source of your personal information?</p>
    <p>TS&S may collect information from you in several different ways including the following:</p>

      <ol>
        <li>Registration. In order to use the services offered by our Application, you may be required to create an account with us. During the registration process, you are required to give certain contact information, including, but not limited to, your name, email address, birthday, and mailing address. We use this information to contact you about the services on our Application in which you have expressed interest and to facilitate future related services.</li>
        <li> Log Files. As is true of most websites and applications, our Application gathers certain information automatically and store it in log files. This information includes Internet Protocol (IP) addresses, browser type, Internet Service Provider (ISP), referring/exit pages, operating system, date/time stamp, and movements around the application, and to gather demographic information about our user base as a whole.</li>
        <li>Correspondence. If you send us personal correspondence, such as emails or letters, or if other users or third parties send us correspondence about your activities, we may collect such information into a file specific to you.</li>
        <li>Supplementation of Information. In order to provide certain services to you, we may on occasion supplement the personal information you submitted to us with information from third-party sources.</li>
        <li>Application Usage. TS&S may monitor your activities, preferences, and transactional data (such as your IP address) relating to your use of our Application and/or services and log this information. This information may be used to diagnose the Application&#39;s technical problems or problems with your account and to enhance your experience in using our Application.</li>
        <li>Service-related Announcements. We may send you strictly service-related announcements on rare occasions when it is necessary to do so. For instance, if our service is temporarily suspended for maintenance, we might send you an email. Generally, you may opt-out of these communications, which are not promotional in nature. If you do not wish to receive them, you have the option to deactivate your account.</li>
        <li><p>Cookies. Cookies are data files that are written onto your computer by a website, and stay there unless they expire or are removed by you. Cookies enable us to recognize your computer when you revisit our Application, and recall your Application preferences to enhance your experience in using the Application.</p>
          <p>First-party cookies are created by the website that you are visiting. A third-party cookie is frequently used in behavioral advertising and analytics and is created by a domain other than the website you are visiting. </p>
          <p>We do not use cookies to collect or use any information about your visits to third-party websites or otherwise collect any information from our Application.</p>
          <p>Consult your browser Help menu to learn more about how you can configure your browser software to notify you when your computer receives a new cookie. Note that you may also be able to configure your browser to disable the creation of cookies entirely (although your full interactive use of the Application may be adversely impacted if you do this). We are not responsible for the use of cookies by third parties or how such parties may collect or use any information about your visits on our Application. This Privacy Policy covers the use of cookies by the Application only and does not cover the use of cookies by any advertisers or third parties.</p>
          <p>For more information about cookies and how to disable them, you can consult the information at <a href="https://www.allaboutcookies.org/manage-cookies/">www.allaboutcookies.org/manage-cookies/.</a></p>
          <p>Without cookies, you may not be able to take full advantage of the Application content and features. Please note that rejecting cookies does not mean that you will no longer see ads when you visit our Application.</p>
        </li>
        <li>Pixels Tags and Web Beacons. TS&S may use other industry standard technologies like pixel tags and web beacons to track your use of the Application, or we may allow third parties to use these devices on our behalf. When you access the Application, or open or click an email, pixel tags and web beacons generate a non-personally identifiable notice of that action. Pixel tags allow us to measure and improve our understanding of visitor traffic and behavior on the Application, as well as give us a way to measure our promotions and performance. We may also utilize pixel tags and web beacons provided by our marketing and advertising partners for the same purposes.</li>
     
        <p>We use Google Analytics to analyze the use of our applications. Google Analytics gathers information on application use by means of cookies. The information gathered relating to our application is used to create reports about the use of our application. Google&#39;s privacy policy is available at: <a href="https://www.google.com/policies/privacy/">https://www.google.com/policies/privacy/</a></p>
        <p>Most browsers allow you to refuse to accept cookies and delete cookies. The methods for doing so vary from browser to browser, and from version to version. You can, however, obtain up-to-date information about blocking and deleting cookies via these links:</p>
        <p>
          <ul>
            <li><a href="https://support.google.com/chrome/answer/95647?hl=en">https://support.google.com/chrome/answer/95647?hl=en</a> (Chrome);</li>
            <li><a href="https://support.mozilla.org/en-US/kb/enhanced-tracking-protection-firefox-desktop">https://support.mozilla.org/en-US/kb...irefox-desktop</a> (Firefox);</li>
            <li><a href="https://www.opera.com/help/tutorials/security/cookies/">https://www.opera.com/help/tutorials/security/cookies/</a> (Opera);</li>
            <li><a href="https://support.microsoft.com/en-gb/help/17442/windows-internet-explorer-delete-manage-cookies">https://support.microsoft.com/en-gb/...manage-cookies</a> (Internet Explorer);</li>
            <li><a href="https://support.apple.com/guide/safari/manage-cookies-sfri11471/mac">https://support.apple.com/guide/safa...-sfri11471/mac</a> (Safari); and</li>
            <li><a href="https://privacy.microsoft.com/en-us/windows-10-microsoft-edge-and-privacy">https://privacy.microsoft.com/en-us/...ge-and-privacy</a> (Edge).</li>
          </ul>
        </p>

        <p>Please note that blocking cookies may have a negative impact on the functions of many websites, including our Application. Some features of the Application may cease to be available to you.</p>
        
<p><strong>Who is collecting the data?</strong></p>
<p>TS&S and collaborating third parties in order to provide service to our users, including the following:</p>
<p>CMI Marketing, Inc., d/b/a CafeMedia (&quot;CafeMedia&quot;)</p>
<p>This Site is affiliated with CMI Marketing, Inc., d/b/a CafeMedia (&quot;CafeMedia&quot;) for the purposes of placing advertising on the Site, and CafeMedia will collect and use certain data for advertising purposes. To learn more about CafeMedia&#39;s data usage, click here:</p>
<p><a href="https://www.cafemedia.com/publisher-advertising-privacy-policy">https://www.cafemedia.com/publisher-...privacy-policy</a></p>
<p><strong>Mediavine Programmatic Advertising.</strong></p>
<p>TS&S may use Mediavine to manage all third-party advertising on the Application. Mediavine serves content and advertisements when you visit the Application, which may use first and third-party cookies. The cookie may collect information relating to your use of the Application, information about your device such as the device&#39;s IP address and browser type, demographic data, and if you arrived at the Application via a link from a third-party site, the URL of the linking page.</p>
<p>The Application may collect IP addresses and location information to serve personalized ads and pass it to Mediavine. If you would like more information about this practice and to know your choices to opt-in or opt-out of this data collection, please visit</p>
<p><a href="https://www.networkadvertising.org/managing/opt_out.asp">https://www.networkadvertising.org/managing/opt_out.asp</a></p>
<p>. You may also visit</p>
<p><a href="https://optout.aboutads.info/#/">https://optout.aboutads.info/#/</a></p>
<p>and</p>
<p><a href="https://optout.networkadvertising.org/">https://optout.networkadvertising.org/#</a></p>
<p>to learn more information about interest-based advertising. You may download the AppChoices app at</p>
<p><a href="https://www.aboutads.info/appchoices">https://www.aboutads.info/appchoices</a></p>
<p>to opt-out in connection with mobile apps, or use the platform controls on your mobile device to opt-out.</p>
<p>Mediavine partners with the following data processors:</p>
<ul>
<li>Pubmatic. You may find Pubmatic&#39;s privacy policy</li>
</ul>
<p><a href="https://pubmatic.com/legal/privacy-policy/">through this link</a></p>
<p>. The data collected on the Application may be transferred to Pubmatic and its demand partners for interest-based advertising. Statistical information and other non-cookie technologies (such as eTags and web or browser cache) may be used by third parties on this Application. Browser settings that block cookies may have no effect on these technologies, but you may clear your cache to delete such trackers. Data collected from a particular browser or device may be used with another computer or device that is linked to the browser or device on which such data was collected.</p>
<ul>
<li>Criteo. You may find Criteo&#39;s privacy policy</li>
</ul>
<p><a href="https://www.criteo.com/privacy/">through this link</a></p>
<p>. The data collected on the Application may be transferred to Criteo and its demand partners for interest-based advertising. Criteo may collect, access, and use non-identifying data to improve the Criteo Technology and other Criteo products, programs, and/or services. This non-identifying data may include on-site user behavior and user/page content data, URLs, statistics, or internal search queries. The non-identifying data are collected through the ad call and stored with a Criteo cookie for a maximum period of 13 months.</p>
<ul>
<li>Pulsepoint. You may find Pulsepoint&#39;s privacy policy</li>
</ul>
<p><a href="https://pulsepoint.com/legal/platform-privacy-policy">through this link</a></p>
<p>.</p>
<ul>
<li>LiveRamp. You may find LiveRamp&#39;s privacy policy</li>
</ul>
<p><a href="https://liveramp.com/privacy/">through this link</a></p>
<p>. When you use the Application, we share information that we may collect from you, such as your email (in hashed, de-identified form), IP address or information about your browser or operating system, with LiveRamp Inc, and its group companies (&#39;LiveRamp&#39;). LiveRamp may use a cookie on your browser and match your shared information to their on- and offline marketing databases and those of its advertising partners to create a link between your browser and information in those other databases. This link may be shared by our partners globally for the purpose of enabling interest-based content or advertising throughout your online experience (e.g. cross-device, web, email, in-app, etc.) by third parties unaffiliated with our application. These third parties may in turn link further demographic or interest-based information to your browser. To opt-out of LiveRamp&#39;s targeted advertising, please go here:</p>
<p><a href="https://liveramp.com/opt_out/">https://liveramp.com/opt_out/</a></p>
<ul>
<li>RhythmOne. You may view RhythmOne&#39;s privacy policy</li>
</ul>
<p><a href="https://www.rhythmone.com/privacy-policy">through this link</a></p>
<p>. RhythmOne uses cookies and similar tracking technologies (such as mobile device identifiers and digital fingerprinting) to provide its services. RhythmOne may use aggregated information (not including your name, address, email address or telephone number) about your visits to this and other Applications in order to provide advertisements about goods and services of interest to you. If you would like more information about this practice and to know your choices about not having this information used by these companies, please visit the following webpage:</p>
<p><a href="https://thenai.org/opt-out/">https://thenai.org/opt-out/</a></p>
<p>.</p>
<ul>
<li>District M. You may find District M&#39;s privacy policy</li>
</ul>
<p><a href="https://www.districtm.net/platforms-data-privacy-policy/">through this link</a></p>
<p>.</p>
<ul>
<li>YieldMo. You may find YieldMo&#39;s privacy policy</li>
</ul>
<p><a href="https://www.yieldmo.com/privacy-policy/">through this link</a></p>
<p>. If you want to opt-out of receiving interest-based ads from Yieldmo or exercise your right under the</p>
<p><a href="https://www.oag.ca.gov/privacy/ccpa">California Consumer Privacy Act (&quot;CCPA&quot;)</a></p>
<p>to opt-out of the sale of your personal information, you may do so</p>
<p><a href="https://www.yieldmo.com/opt-out/">through this link</a></p>
<p>.</p>
<ul>
<li>The Rubicon Project. You may find Rubicon&#39;s privacy policy</li>
</ul>
<p><a href="https://rubiconproject.com/privacy-policy/">through this link</a></p>
<p>. If you want to opt-out of receiving interest based ads from Rubicon or exercise your right under the</p>
<p><a href="https://www.oag.ca.gov/privacy/ccpa">California Consumer Privacy Act (&quot;CCPA&quot;)</a></p>
<p>to opt-out of the sale of your personal information, you may do so</p>
<p><a href="https://www.rubiconproject.com/privacy/consumer-online-profile-and-opt-out/">through this link</a></p>
<p>. You may also utilize the</p>
<p><a href="https://www.networkadvertising.org/">Network Advertising Initiative&#39;s opt-out page</a></p>
<p>, the</p>
<p><a href="https://www.youradchoices.com/">Digital Advertising Alliance&#39;s opt-out page</a></p>
<p>, or the</p>
<p><a href="https://www.youronlinechoices.eu/">European Interactive Digital Advertising Alliance&#39;s opt-out page</a></p>
<p>.</p>
<ul>
<li>Amazon Publisher Services. You may find Amazon Publisher Services&#39; privacy policy</li>
</ul>
<p><a href="https://aps.amazon.com/aps/privacy-policy/">through this link</a></p>
<p>.</p>
<ul>
<li>AppNexus. You may find the AppNexus privacy policy</li>
</ul>
<p><a href="https://www.appnexus.com/platform-privacy-policy-072016">through this link</a></p>
<p>.</p>
<ul>
<li>OpenX. You may find OpenX&#39;s privacy policy</li>
</ul>
<p><a href="https://www.openx.com/legal/privacy-policy/">through this link</a></p>
<p>.</p>
<ul>
<li>Verizon Media formerly known as Oath. You may find Verizon Media&#39;s privacy policy</li>
</ul>
<p><a href="https://www.verizonmedia.com/policies/us/en/verizonmedia/privacy/index.html">through this link</a></p>
<p>. You may also utilize the</p>
<p><a href="https://www.networkadvertising.org/">Network Advertising Initiative&#39;s opt-out page</a></p>
<p>, the</p>
<p><a href="https://www.youradchoices.com/">Digital Advertising Alliance&#39;s opt-out page</a></p>
<p>, or the</p>
<p><a href="https://www.youronlinechoices.eu/">European Interactive Digital Advertising Alliance&#39;s opt-out page</a></p>
<p>to opt-out of the use of cookies for interest-based advertising.</p>
<ul>
<li>TripleLift. You may find TripleLift&#39;s privacy policy</li>
</ul>
<p><a href="https://triplelift.com/privacy/">through this link</a></p>
<p>. To opt-out of receiving interest-based advertising (including retargeting) from TripleLift&#39;s services through the use of cookies in your current browser and for more information on what it means to opt-out, please go to</p>
<p><a href="https://triplelift.com/consumer-opt-out/">www.triplelift.com/consumer-opt-out</a></p>
<p>.</p>
<ul>
<li>Index Exchange. You may find Index Exchange&#39;s privacy policy</li>
</ul>
<p><a href="https://www.indexexchange.com/privacy/">through this link</a></p>
<p>. You may also utilize the</p>
<p><a href="https://www.networkadvertising.org/">Network Advertising Initiative&#39;s opt-out page</a></p>
<p>, the</p>
<p><a href="https://www.youradchoices.com/">Digital Advertising Alliance&#39;s opt-out page</a></p>
<p>, or the</p>
<p><a href="https://www.youronlinechoices.eu/">European Interactive Digital Advertising Alliance&#39;s opt-out page</a></p>
<p>to opt-out of the use of cookies for interest-based advertising.</p>
<ul>
<li>Sovrn. You may find Sovrn&#39;s privacy policy</li>
</ul>
<p><a href="https://www.sovrn.com/privacy-policy/">through this link</a></p>
<p>.</p>
<ul>
<li>GumGum. You may find GumGum&#39;s privacy policy</li>
</ul>
<p><a href="https://gumgum.com/privacy-policy">through this link</a></p>
<p>. GumGum may (i) use place and use cookies on end users&#39; browsers or use web beacons to collect information about end users who visit such Publisher Sites and (ii) link such collected end user information to other end user information provided by third parties in order to deliver targeted Advertisements to such end users.</p>
<ul>
<li>Digital Remedy. You may find Digital Remedy&#39;s privacy policy</li>
</ul>
<p><a href="https://www.digitalremedy.com/privacy-policy/">through this link</a></p>
<p>.</p>
<ul>
<li>MediaGrid. You may find MediaGrid&#39;s privacy policy</li>
</ul>
<p><a href="https://www.themediagrid.com/privacy-policy/">through this link</a></p>
<p>. MediaGrid may collect and store information about end-user interactions with this application through cookies, advertising IDS, pixels and server-to-server connections. MediaGrid received the following information: the page an End-User has requested and the referring/exit pages; Timestamp information (i.e., the date and time the End-User has visited the page); IP address; mobile device identifier; device model; device operating system; browser type; carrier; gender; age; geolocation (including GPS coordinates); clickstream data; cookie information; first-party identifiers&#39;; and hashed email addresses; demographic and inferred-interest information; and post-conversion data (from both online and offline behavior). Some of this data is gathered from this application and others are gathered from advertisers. MediaGrid uses this data to provide its services. You may also utilize the</p>
<p><a href="https://www.networkadvertising.org/">Network Advertising Initiative&#39;s opt-out page</a></p>
<p>, the</p>
<p><a href="https://www.youradchoices.com/">Digital Advertising Alliance&#39;s opt-out page</a></p>
<p>, or the</p>
<p><a href="https://www.youronlinechoices.eu/">European Interactive Digital Advertising Alliance&#39;s opt-out page</a></p>
<p>to opt-out of the use of cookies for interest-based advertising or review their privacy policy for more information.</p>
<ul>
<li>RevContent. You may find RevContent&#39;s privacy policy</li>
</ul>
<p><a href="https://intercom.help/revcontent2/en/articles/2290675-revcontent-s-privacy-policy">through this link</a></p>
<p>. RevContent may collect information about your browser or device, including browser type, IP Address, device type, user agent string, and operating system. RevContent also collects information about the websites you visit through their services, such as date and time of access and specific pages accessed and the content and ads you click on. You may opt-out of any personalization tracking by opting out</p>
<p><a href="https://www.revcontent.com/legal/optout/">of RevContent&#39;s data collection</a></p>
<p>.</p>
<ul>
<li>Centro, Inc. You may find Centro&#39;s privacy policy</li>
</ul>
<p><a href="https://privacy.centro.net/">through this link</a></p>
<p>. You may find opt-out information for Centro&#39;s services through the privacy policy link.</p>
<ul>
<li>33Across, Inc. You may find 33Across&#39;s privacy policy</li>
</ul>
<p><a href="https://www.33across.com/privacy-policy/">through this link</a></p>
<p>. To opt-out of personalized advertising, please visit</p>
<p><a href="https://optout.networkadvertising.org/?c=1">https://optout.networkadvertising.org/?c=1</a></p>
<p>.</p>
<ul>
<li>Conversant LLC. You may find Conversant&#39;s privacy policy</li>
</ul>
<p><a href="https://www.conversantmedia.com/legal/privacy">through this link</a></p>
<p>. Conversant uses information that does not directly identify you, such as information about your browser type, time and date of visit, your browsing or transaction activity, the subject of advertisements clicked or scrolled over, and a unique identifier (such as a cookie string, or a unique advertising identifier provided by your mobile device) during your visits to this application and other websites and apps in order to provide advertisements about goods and services likely to be of greater interest to you. Conversant may use technologies such as cookies and other tracking technologies to collect this information. To learn more about interest-based advertising, or to opt-out, you can visit</p>
<p><a href="https://www.youronlinechoices.eu/">www.youronlinechoices.eu</a></p>
<p>or</p>
<p><a href="https://www.networkadvertising.org/">https://www.networkadvertising.org/</a></p>
<p>.</p>
<p>What are the legal grounds for our processing of your personal information (including when we share it with others)?</p>
<p>We rely on the following legal bases to use your personal data:</p>
<ul>
<li>Where it is needed to provide you with our products or services, such as:</li>
</ul>
<p>a) Assessing an application for a product or service you hold with us, including considering whether or not to offer you the product, the price, the payment methods available and the conditions to attach</p>
<p>b) Managing products and services you hold with us, or an application for one</p>
<p>c) Sharing your personal information with third party service providers when you subscribe as needed to help provide you the service</p>
<p>d) All stages and activities relevant to managing the product or service including inquiry, application, administration and management of accounts</p>
<p>e) For some of our profiling and other automated decision making to decide whether to offer you a product and/or service, particular payment method and the price or terms of this</p>
<ul>
<li>Whereit is in our legitimate interests to do so, such as:</li>
</ul>
<p>a) Managing your products and services relating to that, updating your records, and contacting you about your account (where appropriate)</p>
<p>b) To perform and/or test the performance of, our products, services and internal processes</p>
<p>c) To follow guidance and recommended best practices of government and regulatory bodies</p>
<p>d) For management and audit of our business operations including accounting</p>
<p>e) To carry out monitoring and to keep records of our communications with you and our staff</p>
<p>f) To administer our good governance requirements, such as internal reporting and compliance obligations or administration</p>
<p>g) For market research and analysis and developing statistics</p>
<p>h) For direct marketing communications and related profiling to help us to offer you relevant products and services, including deciding whether or not to offer you certain products and services. We will send marketing to you by SMS, email, phone, post and social media and digital channels</p>
<p>j) Subject to the appropriate controls, to provide insight and analysis of our customers to business partners either as part of providing products or services, helping us improve products or services, or to assess or to improve the operating of our businesses</p>
<p>j) For some of our profiling and other automated decision making</p>
<p>k) Where we need to share your personal information with people or organizations in order to run our business or comply with any legal and/or regulatory obligations</p>
<ul>
<li>To comply with ourlegal obligations</li>
<li>With yourconsent or explicit consent:</li>
</ul>
<p>a) For some direct marketing communications</p>
<p>b) For some of our profiling and other automated decision making</p>
<p>c) For some of our processing of special categories of personal data such as about your health, if you are a vulnerable customer or some criminal records information</p>
<p>What do we use your personal data for?</p>
<p>We use your personal data, including any of the personal data listed above, for the following purposes:</p>
<ul>
<li>Assessing an application for a product or service, including considering whether or not to offer you the product or service, the price, the risk of doing so, availability of payment method and the termsManaging the product or service you have with usUpdating your recordsManaging any aspect of the product or serviceTo make automated decisions on whether to offer you a product or service, or the price, payment method, risk or terms of itTo perform and/or test the performance of, our products, services and internal processesTo improve the operation of our business and that of our business partnersTo follow guidance and best practices under the change to rules of governmental and regulatory bodiesFor management and auditing of our business operations including accountingTo monitor and to keep records of our communications with you and our staff (see below)To administer our good governance requirements such as internal reporting and compliance obligations or administrationFor market research and analysis and developing statisticsFor direct marketing communications and related profiling to help us to offer you relevant products and services, including deciding whether or not to offer you certain products and services. We&#39;ll send marketing to you by SMS, email, phone, post, social media and digital channels).To provide personalized content and services to you, such as tailoring our products and services, our digital customer experience and offerings, and deciding which offers or promotions to show you on our digital channelsTo develop new products and services and to review and improve current products and servicesTo comply with legal and regulatory obligations, requirements and guidanceTo provide insight and analysis of our customers both for ourselves and for the benefit of business partners either as part of providing products or services, helping us improve products or services, or to assess or improve the operating of our businessesTo share information, as needed, with business partners (for example, financial services institutions, insurers), account beneficiaries, service providers or as part of providing and administering our products and services or operating our businessTo facilitate the sale of one or more parts of our business</li>
</ul>
<p><strong>How Long Do We Retain Your Data?</strong></p>
<p>We typically maintain your data for as long as you use our Application and/or our services. We also reserve the right to retain any/all data from our users and former users indefinitely unless/until the user requests the removal of their personally identifiable information as defined in our Terms, or in the event we are legally required to remove the data, whichever occurs first.</p>
<p>We will generally only retain your Personal Information for so long as is necessary to fulfill the purposes for which it was collected, as set out under this section above. However, in the following circumstances, we may be required to retain, preserve or disclose your Personal Information for a longer period of time:</p>
<ul>
<li>in order to comply with applicable laws or regulations;in order to comply with a court order, subpoena or other legal processes;in response to a request by a government authority, law enforcement agency or similar body (whether situated in your jurisdiction or elsewhere);where we believe it is reasonably necessary to comply with applicable laws or regulations; orin order to enforce theTS&S Terms of Serviceor this Privacy Policy, protect our rights, property or safety, or the rights, property, or safety of our affiliate companies or other users of TS&S.</li>
</ul>
<p><strong>When and How Do We Disclose Collected Information</strong></p>
<ul>
<li>Information from the Application. TS&S will never disclose to non-affiliated third parties without your prior approval, your email address, phone number, or other personally identifiable information, that we collect via our Application. However, we reserve the right to outsource certain activities to our business partners. In such case, we will disclose to these business partners only such information as is required to facilitate your transactions, and we will make every effort to have our business partners protect and refrain from disclosing your information to other third parties.</li>
<li>Information Disclosed for Direct Marketing. From time to time, as marketing opportunities arise with trusted third-party companies, TS&S may share your demographical information after a diligent review of the offers. Sharing information will be done only through reputable third parties who have safeguards in place. TS&S screens all companies who request information and reserves the right of refusal on any opportunity if the third party does not meet certain standards. TS&S will also cross market between its affiliated companies and others. However, our customers should be assured that at no time will personal e-mails be shared. Furthermore, you have the ability to opt-in for any third-party offers. For more information on our opt-in arrangement, please review the section entitled &quot;Choice/Opt-Out.&quot;</li>
<li>Disclaimer. We cannot ensure that all of your private communications and other personal information will never be disclosed in ways not otherwise described in this Privacy Policy. By way of example (without limiting the foregoing), we may be forced to disclose personal information to the government or third parties under certain circumstances, third parties may unlawfully intercept or access transmissions or private communications, or users may abuse or misuse your personal information that they collect from our Application.</li>
<li>Law Enforcement. TS&S, however, will cooperate with official law enforcement inquiries, such as fraud investigations and subpoenas, and will disclose your information when necessary to comply with state and federal laws and regulations.</li>
</ul>
<p><strong>Security.</strong></p>
<p>TS&S is committed to ensuring that your registration information is protected while you are on our Site. We follow generally accepted industry standards to protect the personal information submitted to us from unauthorized access, disclosure, alteration, or destruction, during transmission and once we receive it. Our goal is to provide a high-quality service with the best possible online experience.</p>
<p>This includes procedures followed by our personnel to prevent data loss or theft, physical security of our servers and information stores and electronic security such as firewalls, password-protected databases and secure connections. TS&S may use certain third parties for services such as advertising, marketing and order fulfillment. We strive to work with third parties whose privacy policies and security practices are similar to our own.</p>
<p>You should be aware, however, that no data transmitted over the Internet, sent through the mail or stored on a computer is 100% secure and that we cannot guarantee the security of your personal data while in transmission to us. Public computers in particular should never be considered secure. You should never give out Personal Information on the Application, or its message board, in chat rooms and other publicly viewable locations. In addition, there exist malicious programs, typically called computer viruses or trojan horses, which can be used to capture information off your computer&#39;s hard drive or while you are entering it into a web form or sending it by email. You should always use the appropriate anti-virus and personal security technology to protect yourself. Lastly, if you have been assigned a login ID and/or password for use on an TS&S system, you should never give out that information to others.</p>
<p>We offer the use of a secure server. All supplied sensitive/credit information is transmitted via Secure Socket Layer (SSL) technology and then encrypted into our Payment gateway providers database only to be accessible by those authorized with special access rights to such systems and are required to keep the information confidential.</p>
<p>After a transaction, your private information (credit cards, financials, etc.) will not be stored on our servers.</p>
<p><strong>Your Rights Regarding the Data We Collect.</strong></p>
<p>If your personally identifiable information changes, or if you no longer desire some or all of our services, you may correct, update or deactivate by accessing the &quot;Contact Us&quot; link and submitting a request or ticket through the TS&S Support Center.</p>
<p>California Online Privacy Protection Act Compliance. Because we value your privacy, we have taken the necessary precautions to be in compliance with the California Online Privacy Protection Act. We therefore will not distribute your personal information to third parties except as provided in this Privacy Policy.</p>
<p>Children 18 Years of Age and Younger. You must be 18 or over to use the Application. We are in compliance with the requirements of COPPA (Children&#39;s Online Privacy Protection Act), we do not collect any information from anyone under 13 years of age. Our application, products and services are all directed to people who are at least 18 years old or older.</p>
<p><strong>Enforcement.</strong></p>
<p>If for some reason you believe TS&S has not adhered to the principles of this Privacy Policy, please notify us by accessing the &quot;Contact Us&quot; link and submitting a request or ticket through the TS&S Support Center.</p>
<ul>
<li>Limitations of Warranties and Remedies. To the full extent allowed by law, TS&S disclaims all warranties, terms or conditions, express or implied, either in fact or by operation of law, statutory or otherwise, including warranties, terms, or conditions of merchantability, fitness for a particular purpose, and warranty of non-infringement. TS&S neither assumes nor authorizes any other person to assume for it any other liability in connection with SERVICES FROM TS&S THROUGH THE COMMUNITY WEBSITES. liability OF TS&S will not exceed the fee paid by the customer for the PURCHASE of the products. In no event will TS&S nor its affiliates, employees, agents, directors, officers, or owners be liable for any incidental, consequential, punitive, or special damages, including, without limitation, lost profits or revenues, even if TS&S has, or should have had, any knowledge, actual or constructive, of the possibility of such damages.</li>
<li>Indemnification. Each of the parties acknowledges and agrees that by entering into and performing its obligations under this Privacy Policy, TS&S will not assume and should not be exposed to the business and operational risks associated with your business. You agree to defend, indemnify, and hold harmless TS&S and its officers and employees against any and all third party claims, suits, costs, losses liabilities and expenses of any kind (including reasonable attorneys&#39; fees) that TS&S may incur arising out of or resulting from the use of the Applications or any of the services of TS&S, the end-user, or any other person.</li>
<li>Choice of Law and Venue. This agreement will be construed and governed in accordance with the laws of the state of Florida without application of choice-of-law provisions that would require application of the laws of another jurisdiction. By entering into this agreement, all parties irrevocably submit themselves to the exclusive jurisdiction of the state and federal courts in Seminole County, Florida with regard to any dispute relating to this Privacy Policy or its enforcement. The parties also hereby waive any challenge to venue they may have to a lawsuit filed in a state or federal court in Seminole County, Florida, regarding a dispute between the parties relating to this Privacy Policy or its enforcement.</li>
<li>Severability. If any provision of this Privacy Policy is found to be invalid, illegal, or unenforceable, the validity, legality and enforceability of any of the remaining provisions will not in any way be affected or impaired and a valid, legal, and enforceable provision of similar intent and economic impact will be substituted therefore.</li>
<li>Additional Provisions Regarding Liability. The parties agree that the foregoing limitations will not be read so as to limit any liability to an extent that would not be permitted under applicable law and specifically will not limit any liability for gross negligence, intentional tortious or unlawful conduct, or damages for strict liability that may not be limited by law.</li>
<li>Notices. Any notices or other communication required or permitted to be made or given by either Party pursuant to this Privacy Policy will be in writing, in English, and will be deemed to have been duly given when delivered if delivered personally or sent by recognized overnight express courier, to the address specified herein or such other address as TS&S may specify in writing. All notices shall be sent to:</li>
</ul>
<p>Quote:</p>
<p>ATTENTION: LegalTS&S2600 E Southlake Blvd, Suite 120-361Southlake, Florida 76092</p>
<hr>
<p><strong>Additional Information.</strong></p>
<ul>
<li>Links. Our Application may contain links to other sites. However, please be aware that TS&S is not responsible for and cannot control the privacy policies of such other sites. We encourage you to be aware when you leave the Application and to read the privacy statements of each and every website that collects personally identifiable information. This Privacy Policy applies solely to information collected by our Application.</li>
<li>Notification of Privacy Statement Changes. We reserve the right to change this Privacy Policy at any time, and you may visit this page to learn of our revised Privacy Policy. All such changes shall be binding on you 14 calendar days after they are initially posted on our Application unless you are a new user, in which case they are binding on you immediately.</li>
<li>Business Transition. In the event we go through a business transition, such as a merger, acquisition by another company, or sale of all or a portion of our assets, your personally identifiable information will likely be among the assets transferred.</li>
<li>Contact Us. If you have any questions or suggestions regarding our privacy policy, access the &quot;Contact Us&quot; link and submit a request or ticket through the TS&S Support Center.</li>
</ul>
  </div>
</section>
